.transaction-card__link-container {
    text-decoration: none;
    color: black;
}

.transaction-card__container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    max-width: 100%;
}

/* .transaction-card-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.transaction-card__details {
    display: flex;
    flex-direction: column;
}

.transaction-card__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



