.homepage-buttons__container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.homepage-buttons__container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s; 
    margin: 5px
}

.homepage-buttons__container button:hover {
    background-color: rgba(9, 81, 11, 0.996);
    /* cursor: pointer; */

  }
  
.homepage-buttons__container button:active {
    transform: scale(0.95);
  }

.homepage-message__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage-message__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}

.homepage-message__list {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.homepage-message__list-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; 
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
    margin-left: 5px;
    margin-right: 5px;
}

.homepage-message__list-item:hover {
    transform: translateY(-5px); 
    cursor: pointer;
}

.homepage-message__list-item:active {
    transform: scale(0.95);
}

.homepage-message__list-item-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.homepage-message__list-item-body {
    height: 100%;
}