.navbar__container {
  flex-direction: row;
  background-color: #CCE0FF;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-div {
  height: 70px;
}

.navbar__logo-div img {
  height: 70px;
  border-radius: 10px;
}

.navbar__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  height: 100%;
  width: 100px;
  box-sizing: border-box;
}

.navbar__button button {
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 15%;
}

.navbar__button button:hover {
  background-color: #f0f8ff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.navbar__button button:active {
  background-color: #e0f0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
}

.hidden {
  display: none;
}
