.navbar__container {
  flex-direction: row;
  background-color: #CCE0FF;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-div {
  height: 70px;
}

.navbar__logo-div img {
  height: 70px;
  border-radius: 10px;
}

.navbar__button {
  position: relative;
  display: flex;
  height: 50px;
  height: 100%;
  width: 100px;
  box-sizing: border-box;
}

.navbar__button button {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 15%;
}

.navbar__button button:hover {
  
  font-weight: bold;
}

.navbar__button button:active {
  background-color: #e0f0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.profile-dropdown {
  display: flex;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: 100%;
  z-index: 1000;
  border-radius: 5%;
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

.dropdown-content__container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: absolute;
}

.profile-dropdown__container{
  display: flex;
  flex-direction: column;
  background: white;
}