.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #CCE0FF, aliceblue);
}

.navbar-logo__container {
  height: 70px;
}

.navbar-logo__container img {
  height: 70px;
  border-radius: 10px;
}

.navbar__button {
  position: relative;
  display: flex;
  height: 50px;
  height: 100%;
  width: 100px;
  box-sizing: border-box;
}

.navbar__button button {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 15%;
}

.navbar__button button:hover {
  font-weight: bold;
  transform: translateY(-2px); 
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content:center;
  position: absolute;
  top: 100%;
  right: 30%;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 

}

.hidden {
  display: none;
}

.profile-dropdown:focus,
.profile-dropdown:hover {
  outline: none; 
  transform: translateY(-2px); 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 

}