.transaction-pagination__main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.transaction-pagination__main button {
    margin-left: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: transform 0.1s ease;
    border: none;
    border-radius: 4%;

}

.transaction-pagination__active-page { 
    color: #008080;
    background-color: #e0e0e0
}

.transaction-pagination__inactive-page { 
    color: darkgrey;
}

.transaction-pagination__main button:active {
    transform: scale(0.90);
}
