.messenger-main__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 100px;
}

.messenger-convo__container {
    display: flex;
    flex-direction: column;
    width: 87.5%;
}

.messenger-userlist__container {
    display: flex;
    flex-direction: column;
    width: 12.5%;
}

.messenger-options__container {
    display: flex;
    justify-content: flex-end;
}

.messenger-options__button {
    border: none;
    border-radius: 25%;
    margin-left: 15px;
}

.messenger-input__container {
    display: flex;
    height: 25px;
}

.messenger-input__text {
    width: 80%;
    margin-left: 20px;
}

.messenger-input__button {
    width: 10%;
    margin-left: 5px;
}

.messenger-content__tile {
    display: flex;
    height: 90%;
}

.error-message__text {
    color: red;
    text-align: center;
}