.messenger-main__container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.messenger-convo__container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
}

.messenger-userlist__container {
    display: flex;
    width: 20%;
}

.messenger-input__container {
    display: flex;
    flex-direction: row;
}

.messenger-input__text {
    width: 90%;
}

.messenger-input__button {
    width: 10%;
}

.messenger-content__tile {
    display: flex;
    height: 90%;
}